md-content.channel-controller.ng-cloak.flex(layout="column", layaout-padding, layout-align="center")
  md-toolbar.channel-title.md-whiteframe-2dp.anim-slide-below-fade.md-hue-2(md-scroll-shrink)
    .md-toolbar-tools
      md-button.hide-gt-md.md-icon-button(aria-label="showSideNav", ng-click="channel.toggleSideNavOpen()")
        md-icon.material-icons menu
      h2
        span.channel-prefix #
        span {{channel.channel.name}}
        small.hide-sm.description {{channel.channel.description}}
      span.flex
      .tool-buttons.hide-xs
        md-button.md-icon-button(aria-label="personCount")
          md-icon person_outline
        md-button.md-icon-button(aria-label="search")
          md-icon search
        md-button.md-icon-button(aria-label="star")
          md-icon star_border
        md-button.md-icon-button(aria-label="more")
          md-icon more_vert
      .tool-buttons.hide-gt-xs
        md-button.md-icon-button(aria-label="more")
          md-icon more_vert
  .container(ng-show="channel.status.loading")
    md-progress-linear.md-accent(md-mode="indeterminate")
  .flex.message-container.anim-slide-below-fade(layout="column", scroll-glue="glued", when-scrolled="channel.loadMore()")
    md-list.flex
      md-list-item.message.md-2-line.fx-fade-down(ng-repeat="message in channel.messages",
      ng-init="continue=channel.isContinuation($index); hovering=false;",
      ng-mouseenter="hovering=true" ng-mouseleave="hovering=false")
        img.md-avatar(ng-if="!continue", ng-init="sendUser=channel.getSendMessageUser(message)",
        ng-src="{{sendUser.profileImageURL}}", ng-class="{'no-hover': !hovering}")
        .md-avatar.continuation(ng-if="continue", ng-class="{'hidden': !hovering}")
          span.timestamp {{message.editedAt | date:'HH:mm'}}
            md-tooltip(md-direction="top")
              strong {{::message.editedAt | date:'yyyy/MM/dd HH:mm:ss'}}
        .md-list-item-text(layout="column", ng-class="{'continue': !continue}")
          p(ng-if="!continue")
            span.display-name {{channel.user.displayName}}
            span.timestamp {{message.editedAt | date:'HH:mm'}}
              md-tooltip(md-direction="top")
                strong {{::message.editedAt | date:'yyyy/MM/dd HH:mm:ss'}}
          article.text.markdown-body(marked="message.text")
  .channel-footer.anim-slide-below-fade
    .typing-container
      span(ng-repeat="typing in channel.channel.typing | filter:'!'+channel.user.$id")
        span(ng-show="$first") 入力中:
        span {{channel.getUser(typing).displayName}}
    form.message-form.layout-align-center(name="messageForm", novalidate, layout,
    ng-class="{focus: channel.isInputMessageFocus}")
      div(layout)
        md-button.launch.flex.md-accent.md-hue-2(aria-label="launch", type="button")
          md-icon.medium launch
      .flex(layout)
        textarea.text-message.flex(msd-elastic, required,
        press-enter="channel.addMessage()", press-enter-media="gt-sm",
        ng-focus="channel.isInputMessageFocus=true", ng-blur="channel.isInputMessageFocus=false",
        rows="1" spellcheck="false", ng-model="channel.message.text",
        focus-me="channel.isInputMessageFocus",
        ng-keyup="channel.addTypingUser()")
      div(layout, ng-show="channel.showSendBtn()")
        md-button.launch.flex.md-accent.md-hue-2(aria-label="launch", type="button", ng-click="channel.addMessage()")
          md-icon.medium send
